extends layout

block content
	h1= title
	p= 'Hello ' + user.username + '!'
	p= 'Last flight viewed: ' + lastNumber
	ul
		each combo, index in menu
			- landed = combo.drinks
			li= combo.comboID + ': ' + combo.mainCourse + ' + ' + landed
