extends layout

block content
	h1= title
	p= 'Hello ' + user.username + '!'
	p= 'Last flight viewed: ' + lastNumber
	ul
		each flight, index in menu
			- landed = flight.drinks
			li= flight.comboID + ': ' + flight.mainCourse + ' + ' + landed
